body {
  background-color: #343232;
  color: #fff;
}

h2 {
  font-weight: 700;
  color: #d78282;
}

.gym-card {
  background-color: #1c1c1c !important;
  color: #fff !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gym-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(255, 77, 77, 0.5);
}

.list-group-item {
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #333;
}
